body {
    font-family:"times new roman;
    margin:0;
    padding:0px;
}

#header_bg {
	width:auto;
	height : 100px;
	margin-left:auto;
	margin-right:auto;
	background-color: #06F;
	
}
#header {
    width : 980px; 
    height : 80px;
    margin:0 auto;
}



#institution-name{
	margin:auto;
	alignment-adjust:central;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
	font-family:Segoe Script;
}
